* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-size: 1em;
    font-family: sans-serif;
}

@media (min-width: 64em) {
  html {
    font-size: 112.5%;
  }
}

h1,
h2 {
    font-weight: normal;
}

.container {
    width: 64em;
    margin: 2em auto;
}

.search-container,
.export-container {
    margin-top: 4em;
}

table {
    margin-top: 2em;
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background: #CCC;
}

th {
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding: 0.2em 0.6em;
}

td {
    padding: 0.2em 0.6em;
}

.normal {
    background-color: white;
}


.high {
    background-color: green;
    color: white;
}

.low {
    background-color: #cc0000;
    color: white;
}

.row-background {
    background-color: #ececec;
}
